<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV Player</title>
    <link rel="stylesheet" href="/static/styles/main.css">
</head>
<body>
    <div class="tv-player">
        <iframe

            src="https://www.vidking.net/embed/{{ format }}/{{ media_id }}/1/1?color=e50914&autoPlay=true&nextEpisode=true&episodeSelector=true"
            width="100%"
            height="600"
            frameborder="0"
            allowfullscreen>
        </iframe>
    </div>
</body>
</html>